/*
body {
    height: 100vh;

}
body * {
    box-sizing: border-box;
}

.calculator-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 30%;
    background-color: lavender;
}
.display-text {
    text-align: right;
    width: 98%;
}
.display-container {
    position: relative;
    top: 25px;
    display: inline-block;
    height: 15%;
    width: 85%;
    background-color: peachpuff;
    left: 7.5%;
    overflow: scroll;
}

.c-button-containers {
    display: inline-block;
    position: relative;
    top: 28px;
    left: 7.5%;
    height: 15%;
    width: 85%;
    background-color: chartreuse;
}
.c-button, .ac-button {
    position: relative;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 45%;
    display: inline-block;
    background-color: rebeccapurple;
    margin: 0px;
}

.number-block {
    display: inline-block;
    position: relative;
    height: 60%;
    width: 60%;
    background-color: chartreuse;
    top: 28px;
    left: 7.5%;
    margin-top: 8px;
    vertical-align: top;
}
.number, .decimal, .equals {
    position: relative;
    display: inline-block;
    height: 23%;
    width: 32%;
    left: 2px;
    margin-top: 3px;
    background-color: hotpink;
}
.operator-column {
    position: relative;
    display: inline-block;
    height: 60%;
    width: 24%;
    background-color: chartreuse;
    top: 36px;
    left: 7.5%;
}
.operator {
    position: relative;
    margin-top: 3px;
    height: 24%;
    background-color: cornflowerblue;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

p {
    font-size: 3rem;
}
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px  */
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/client/assets/images/white-background.jpg");
    /* background-image: url('/client/assets/images/black-background.png'); */
    background-position: center;
    background-size: cover;

    transition: 0.2s;
}

.calculator__Border {
    height: 60%;
    width: 35%;

    background-color: black;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__Container {
    height: 95%;
    width: 97%;

    background-color: rgb(215, 215, 215);
    border: 5px solid rgb(215, 215, 215);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

.screen__Container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.screen__Switcher {
    height: 20%;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.25rem;
}

.screen__Name {
    display: flex;
    color: #000000;
}

.screen__Wifi {
    font-size: 1.5rem;
    margin-left: 2px;
}


.screen__Icons {
    font-size: 2rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

ion-icon {
    cursor: pointer;
    transition: all 0.2s;
}

ion-icon:hover {
    color: #fff;
    transform: scale(1.1);
}

ion-icon:active {
    transform: scale(1);
}

.screen__Container-text {
    height: 70%;
    width: 100%;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    position: relative;


    overflow: scroll;
    transition: 0.2s;
}

.buttons__Container-main {
    height: 65%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons__Container-sub {
    height: 95%;
    width: 98%;


    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
}

.buttons__Container-sub > * {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    transition: all 0.2s;
}

.calculator__Button:hover {
    transform: scale(1.1);
}

.calculator__Button:active {
    transform: scale(1);
}

.operator,
.equals {
    background-color: #fd9526;
}

.zero {
    grid-row: 5 / -1;
    grid-column: 1 / span 2;
}


.colorWhite {
    color: #fff;
}

.colorOrange {
    color: #fd9526;
}

.colorBlack {
    color: #000000;
}

.buttonBlack {
    background-color: #000000;
}

.backgroundBlack {
    background-image: url('/client/assets/images/black-background.png');
}

.buttonOrange {
    background-color: #fd9526;
}
